@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', monospace;
    user-select: none;
}

html {
    background-image: url("https://t3.ftcdn.net/jpg/05/72/60/20/360_F_572602053_lVt66oxcUaX0Eq20qpvAAfQZOCFfYsJX.jpg");
    background-size: cover;
}

#container {
    width: 33%;
    display: table;
    margin:  auto;
   /* margin-top: 10em;*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.obchodsection{
    text-align: center;
    font-size: larger;
   max-width: 100%;
   background-color: rgb(105, 69, 69);
   
    color: white;
    
}

#cookie {
    max-width: 180px;
    width: 100%;
    display: table;
    margin: 0 auto;
    transition: .3s ease;
    cursor: pointer;
    
}

#counter {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
}

#cookie:hover {
    transform: scale(1.1);
}
#clickUpgrade{
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: .3% ease;
    margin: auto;
}
.UpgradeButton{
    margin:0 auto;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: .3% ease;
    height: 25px;
}
.obchod{
    
    width: 30%;
    border: 5px solid black;
    background-image: url(/res/img/backgroundobchod.jpg);
    background-size: cover;
   position: absolute;
   top:0px;
   left:0px;
   right:0px;
   bottom:0px;
   overflow:auto;
   background-color: rgba(0, 0, 0, 0.452);
   
}

.image{
   max-width: 20%;
    padding-left: 1em;
    cursor: pointer;
}

#farmacounter, #farmacounterlevel, #autoclickercounter , #autoclickercounterlevel, #minecounter, #minecounterlevel{
    color: black;
    font-size: 150%;
    padding-left: 1em;
    max-width: 20%;
    
}
.ceny{
    margin-right: auto;
    position: absolute;
    background-image: url(/res/img/backgroundprices.avif);
    background-size: cover;
    top:0px;
  width: 25%;
   right: 0px;
   bottom:0px;
   overflow:auto;
}
.a{
    max-height: 20%;
    display: flex;
}
.b{
   margin: 1em;
}
